<div class="row text-center">
<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 order-1">
  <img class="img-fluid mx-auto d-block" id="mypic" height="10px;" src="/camping.png" alt="">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 order-2 align-self-center">
<h5>Below is an visual summary of the major things I've worked on over the years. My current focuses are <a href="https://solarpunktravel.org/">a sustainable travel cooperative</a> and <a href="https://solarpunk.blue">writing science fiction</a>.</h5></div>
</div>
