<div class="row text-center">
<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 order-1">
  <img class="img-fluid mx-auto d-block" height="10px;" src="/camping.png" alt="">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 order-2 align-self-center">
<h5>Working on lots of things in parallel. Currently <a href="https://anthem.ai">machine learning in healthcare</a>, <a href="https://worcfoods.com/">a worker-owned robotics cooperative</a>, <a href="https://cooptrail.org/">biking through the solidarity economy</a> and <a href="https://prof.bonkerfield.org">fake music history</a>.</h5></div>
</div>