<div class="row text-center">
<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 order-1">
  <img class="img-fluid mx-auto d-block" id="mypic" height="10px;" src="/camping.png" alt="">
</div>
<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 order-2 align-self-center">
<h5>Working on lots of things in parallel. Currently <a href="https://a.ttent.io/n">AI generated art</a>, <a href="https://cooptrail.org/">biking through the solidarity economy</a>, <a href="https://oneth.club/">small scale social media</a>, and <a href="https://prof.bonkerfield.org/">alternative historilogical musicology</a>.</h5></div>
</div>