<div class="navigationBar fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light bg-light">
        <a class="navbar-brand" href="#">will.stedden</a>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://bonkerfield.org">bonkerfield</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://viewfoil.bonkerfield.org">contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/lisens.html">lisens</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>