<a style="display:none;" class="h-card" rel="me" href="https://will.stedden.org/">Will Stedden</a>
{% if site.social %}
  {% for social in site.social %}
    <a style="display:none;" href="{{ social['url'] }}" rel="me"></a>
  {% endfor %}
{% endif %}
<div class="navigationBar fixed-top">
    <div class="container">
      <nav class="navbar navbar-expand navbar-light bg-light navbarExtra">
        <a class="navbar-brand" href="/">will.stedden</a>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/highlights">highlights</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history">cv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://bonkerfield.org">blog</a>
          </li>
        </ul>
      </nav>

      <nav class="navbar navbar-expand navbar-light bg-light navbarSimple" style="text-align:center;font-size:2em;padding-bottom:1px;">
        <ul class="nav navbar-nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link" href="/">home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/highlights">work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/history">cv</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://bonkerfield.org">blog</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>


